body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
h1 {
    text-align: center;
    color: #333;
}
.profile-img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}
.info {
    margin-bottom: 20px;
}
.summary {
    text-align: justify;
}
p {
    .ubuntu-light {
        font-family: "Ubuntu", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .ubuntu-regular {
        font-family: "Ubuntu", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .ubuntu-medium {
        font-family: "Ubuntu", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .ubuntu-bold {
        font-family: "Ubuntu", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .ubuntu-light-italic {
        font-family: "Ubuntu", sans-serif;
        font-weight: 300;
        font-style: italic;
      }
      
      .ubuntu-regular-italic {
        font-family: "Ubuntu", sans-serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .ubuntu-medium-italic {
        font-family: "Ubuntu", sans-serif;
        font-weight: 500;
        font-style: italic;
      }
      
      .ubuntu-bold-italic {
        font-family: "Ubuntu", sans-serif;
        font-weight: 700;
        font-style: italic;
      }
      
  }